<footer [ngClass]="getNinetiesClass()" class="py-5 bg-dark">
  <div class="container">
    <div class="m-0 text-center text-white social">
    <ul>
        <li><a href="#"><i class="fa fa-lg fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-lg fa-google-plus"></i></a></li>
        <li><a href="https://github.com/nliles"><i class="fa fa-lg fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/natalie-liles-41b0b7a0/"><i class="fa fa-lg fa-linkedin"></i></a></li>
    </ul>
    </div>
  </div>
</footer>
