body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.business-header {
  margin-top: -20px;
  height: 50vh;
  min-height: 300px;
  background:   
  linear-gradient(
    rgba(241, 194, 204, 0.55), 
    rgba(241, 194, 204, 0.55)
    ),#F1C2CC url("linenBG.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.card {
  height: 100%;
}

.button-container {
  margin-left:40%;
  margin-right:40%;
  margin-top: -25px;
}








/*h1 {
  margin-top: 7%;
  margin-left: 0;
  font-weight: bold;
  font-size: 4em;
}

h1.nineties {
  color: red;
  margin-top: 7%;
  margin-left: 0;
  font-weight: bold;
  font-size: 4em;
}

#home{
  margin-top: 10vh;
}*/

/*.homeButton {
  font-size: 30px;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	left: 37%;
	top: 35%;
	margin-top: 100px; 
	position: fixed; 
	width: 380px;
	height: 100px;
	border: 2px solid black;
	background: #fff;
	font-family: 'Lato', sans-serif;
}*/



a:link, a:visited {
  	color: black;
  	text-decoration: none;
}

.btn {
	background: white;
	color: black;
	width: 200px;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	margin-top: 100px; 
}

.btn.nineties {
	background: black;
	color: black;
	width: 200px;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	left: 37%;
	top: 35%;
}





