footer.nineties {
    background: #d81159;
    border-top: 2px solid white;
}

.footer-distributed.nineties .footer-icons a {
    background-color:  #33383b;
}

.footer-distributed.nineties .footer-center i{
    background-color:  #33383b;
}