footer.nineties {
    background: #d81159;
    border-top: 1px solid #A9A9A9;
}

.footer-distributed.nineties .footer-icons a {
    background-color:  #33383b;
}

.footer-distributed.nineties .footer-center i{
    background-color:  #33383b;
}