h1.nineties {
  color: #d81159;
}

.business-header.nineties {
  background: url("https://media.giphy.com/media/87tkMovdHMRk4/giphy.gif");
}

.btn.nineties {
  background: #d81159;
  border: 5px outset grey;
  box-shadow: 1px 1px 5px grey;
}
