body {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  background: #ededed;
}

body.nineties {
  font-family: "Comic Sans MS", cursive, sans-serif;
  background: url("https://media.giphy.com/media/87tkMovdHMRk4/giphy.gif");
}
